main{
    justify-content: center;
    padding-top: 60px;
    align-items: center;
    padding-bottom: 40px
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
    height: 640px;
}

.linha2{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
    height: 640px;
}

.linha3{
    list-style-type: none;
    
    height: 640px;
}